body {
    font-family: Arial, sans-serif;
    background: url('images/im3.jfif') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    padding: 50px;

  }
  
  .container {
    background-color: rgba(0, 0, 0, 0.445);
    max-width: 350px;
    margin:  auto;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
    text-align: center;
  }
  
  h2 {
    color: #00ffeae7;
    margin-bottom:60px ;
  }

  input, select, button {
    padding: 15px;
    margin: 10px 0;
    width: 80%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  input, select {
    background-color: #fff;
    color: #333;
  }
  
  button {
    background-color: #00eeff8a;
    color: #0000008e;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ffcc00;
  }
  
  .result {
    margin-top: 20px;
    font-weight: bold;
    color: #ffd700;
  }
  
  .temperature-icon {
    margin-bottom: 20px;
  }
  
  .temperature-icon img {
    width: 80px;
  }
  